# Python cache
__pycache__/
*.pyc

# Environment files
.env
venv/

# Jupyter checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Output files
output/*.xlsx

# Large data files
data/*.xlsx